.crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}

.crew .crew-content {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: aqua; */
}

.crew .crew-content .crew-search {
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
}


.option {
    display: flex;
}


.crew .crew-content table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    
}
tr{
    border-bottom: 1px solid gray;  
}
thead {
    background-color: black;
    color: #fff;
}
td, th {
    text-align: center;
    padding: 15px 0;
}



